


/*********************************** color ******************************************/

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover,
.main-menu .navigation > li > ul > li > ul > li > a:hover,
.scroll-to-top .scroll-bar-text,
.main-header .outer-box .support-box .icon-box,
.main-header .outer-box .support-box h3 a:hover,
.main-header .option-list li button:hover,
.main-header .option-list li a:hover,
.category-block-one .inner-box h4 a:hover,
.sec-title h2 span,
.shop-block-one .inner-box .lower-content h4 a:hover,
.popular-product .owl-nav button:hover,
.theme-btn.btn-one,
.deals-block-one .inner-box .content-box h3 a:hover,
.deals-block-one .inner-box .content-box .timer .cs-countdown .count-col,
.collection-section .sec-title a,
.collection-section .tab-btns li.active-btn,
.collection-block-one .inner-box .lower-content h4 a:hover,
.testimonial-block-one .inner-box .author-box h4 a:hover,
.news-block-one .inner-box .post-info li a:hover,
.news-block-one .inner-box .lower-content h3 a:hover,
.main-footer .info-list li a:hover,
.main-footer .links-widget .links-list li a:hover,
.footer-bottom .bottom-inner .copyright p a,
.main-header .search-inner .form-group input:focus + button,
.main-header .search-inner .form-group button:hover,
.slide-text.style-two .text-inner .text-list li:before,
.shop-block-two .inner-box .lower-content h4 a:hover,
.main-header .category-toggle i,
.slide-text.style-three .text-inner .text-list li:before,
.deals-style-three .title-inner .count-col span,
.deals-style-three .title-inner .count-col h6,
.deals-block-two .inner-box h5 a:hover,
.deals-style-three .owl-nav button:hover,
.brands-block-two .inner-box h6 a:hover,
.shop-block-three .inner-box .count-col span,
.shop-block-three .inner-box .count-col h6,
.shop-block-three .inner-box .lower-content h3 a:hover,
.testimonial-block-one .inner-box .quote-icon,
.testimonial-section.style-two .owl-nav button:hover,
.instagram-block-one .inner-box .text-box a:hover,
.shop-block-four .content-box h4 a:hover,
.main-header .category-toggle:hover,
.shop-block-one .inner-box .image-box .reaction-btn button:hover,
.shop-block-one .inner-box .image-box .reaction-btn button:focus,
.shop-block-one .inner-box .image-box .reaction-btn button:active,
.category-block-three .inner-box h4 a:hover,
.shop-style-nine.collection-section .p-tabs-content,
.shop-style-nine .owl-nav button:hover,
.shop-sidebar .check-box input:checked + label,
.shop-sidebar .category-widget .accordion .acc-btn.active .icon-box,
.shop-block-five .inner-box .content-box h3 a:hover,
.page-title .bread-crumb li a:hover,
.product-details-content .other-option li a:hover,
.shop-details .product-discription .review-content .single-review .upper-box .option-btn li button:hover,
.shop-details .product-discription .review-content .single-review .upper-box .option-btn li button:active,
.shop-details .product-discription .review-content .single-review .upper-box .option-btn li button:focus,
.about-section .image-box .rotate-box .curved-circle,
.about-section .content-box p span,
.funfact-block-one .count-outer,
.sign-section .form-inner .social-links li a:hover,
.sign-section .form-inner .other-option .forgot-password:hover,
.sign-section .form-inner .lower-text p a,
.blog-sidebar .check-box-two input:checked + label,
.blog-sidebar .post-widget .post h5 a:hover,
.blog-sidebar .archives-widget .archives-list li a:hover,
.sidebar-page-container .news-block-one .inner-box .lower-content h2 a:hover,
.blog-details-content .content-one blockquote .icon-box,
.blog-details-content .content-one blockquote h4,
.blog-details-content .post-share-option .social-links li a:hover,
.account-section .inner-container .tab-btns li.active-btn,
.account-section .history-box .single-history .product-box .product-info h6 a:hover,
.cart-popup .popup-inner .single-cart-box h5 a:hover,
.category-menu .category-box .search-form .form-group input:focus + button,
.category-menu .category-box .search-form .form-group button:hover

{
  color: var(--theme-color);
}


/** background **/

button.rtl,
button.ltr,
.chat-icon button,
.chat-popup .close-chat,
.header-top,
.main-header .search-box .form-group button[type='submit'],
.main-header .option-list li.shop-cart button span,
.shop-block-one .inner-box .image-box .option-list li a:hover,
.shop-block-one .inner-box .image-box .option-list li button:hover,
.shop-block-one .inner-box .image-box .option-list li button:focus,
.shop-block-one .inner-box .image-box .option-list li button:active,
.deals-block-one .inner-box .image-box .option-list li a:hover,
.deals-block-one .inner-box .image-box .option-list li button:hover,
.deals-block-one .inner-box .image-box .option-list li button:focus,
.deals-block-one .inner-box .image-box .option-list li button:active,
.theme-btn:hover:before,
.theme-btn:hover:after,
.deals-block-one .inner-box .content-box .timer .cs-countdown .count-col:before,
.deals-block-one .inner-box .content-box .timer .cs-countdown .count-col:after,
.nav-style-one .owl-nav button:hover,
.collection-block-one .inner-box .image-box .reaction-btn button:hover,
.collection-block-one .inner-box .image-box .reaction-btn button:focus,
.collection-block-one .inner-box .image-box .reaction-btn button:active,
.main-footer .subscribe-widget form .form-group button[type='submit'],
.shop-style-three .tab-btns li.active-btn,
.deals-style-two .owl-theme .owl-dots .owl-dot,
.shop-style-four .ads-block,
.shop-block-two .inner-box .image-box .reaction-btn button:hover,
.shop-block-two .inner-box .image-box .reaction-btn button:active,
.shop-block-two .inner-box .image-box .reaction-btn button:focus,
.header-upper .search-box .form-group button[type='submit'],
.deals-style-three .title-inner .count-col:before,
.deals-style-three .title-inner .count-col:after,
.shop-style-five:before,
.shop-style-five .tab-btns li.active-btn,
.shop-style-five .tab-btns li:hover,
.cta-style-two .form-inner .form-group button[type='submit'],
.shop-style-seven.home-4 .shop-block-three .inner-box:before,
.shop-style-nine .tab-btns li.active-btn,
.shop-style-nine.collection-section .tab-btns li.active-btn,
.subscribe-section .inner-container,
.subscribe-section .form-inner .form-group button[type='submit'],
.shop-sidebar .search-widget .form-group button[type='submit'],
.price-range-slider .ui-slider-range,
.price-range-slider .ui-slider-handle,
.price-range-slider .range-box .theme-btn,
.shop-sidebar .check-box input:checked + label:before,
.pagination li a:hover,
.pagination li a.current,
.shop-block-five .inner-box .feature-list li:before,
.shop-page-section .item-shorting .left-column .filter-button button,
.product-details-content .addto-cart-box ul li a:hover,
.product-details-content .addto-cart-box ul li.like-btn button:hover,
.product-details-content .addto-cart-box ul li.like-btn button:active,
.product-details-content .addto-cart-box ul li.like-btn button:focus,
.product-details-content .other-option li.social-links a:hover,
.list-style-one li:before,
.shop-details .product-discription .tab-btns li.active-btn,
.check-box-two input:checked + label:before,
.cart-section .target-price .progress-box .bar-inner,
.cart-section .coupon-box .form-group button,
.cart-section .total-cart .shipping-cost .cost-list li .check-box label:after,
.cart-section .total-cart .btn-box .theme-btn,
.checkout-section .order-info .payment-option .check-box label:after,
.checkout-section .order-info .btn-box .theme-btn,
.sign-section .form-inner .form-group .theme-btn,
.error-section .content-box .btn-box .theme-btn:last-child,
.blog-sidebar .post-widget .post .post-thumb,
.blog-sidebar .tags-widget .tags-list li a:hover,
.blog-sidebar .search-widget .search-form .form-group button[type='submit'],
.blog-details-content .post-share-option .tags-list li a:hover,
.blog-details-content .comment-box .form-inner .theme-btn,
.contact-section .form-inner .form-group .theme-btn,
.main-menu .navigation > li > ul > li > a:before,
.main-menu .navigation > li > .megamenu li > a:before,
.main-menu .navigation > li > a:after,
.cart-popup .title-text span,
.cart-popup .popup-inner .btn-box .theme-btn:first-child,
.cart-popup .close-cart:hover,
.category-menu .side-content,
.category-menu .category-list li.category-dropdown .dropdown-btn span

{
  background: #a1045A;
}




/** border-color **/

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu,
.chat-popup .chat-form .form-group input:focus,
.chat-popup .chat-form .form-group textarea:focus,
.main-header .search-box .form-group input[type="search"],
.theme-btn.btn-one,
.nav-style-one .owl-nav button:hover,
.collection-section .sec-title a,
.collection-section .tabs-box,
.main-header .search-inner .form-group input:focus,
.highlights-section .inner-container,
.highlights-section .list-item .single-item .icon-box,
.brands-block-one a,
.deals-style-two .owl-theme .owl-dots .owl-dot:before,
.footer-light .subscribe-widget form .form-group input[type='email']:focus,
.header-upper .search-box .form-group input[type='search'],
.slide-text.style-three,
.deals-style-three .title-inner .count-col,
.shop-style-five .inner-content .shop-block-one .inner-box .image-box,
.slide-text.style-two.home-3,
.brands-block-two .inner-box:hover,
.brands-block-two .inner-box:hover .logo-box,
.shop-block-three .inner-box .count-col,
.shop-block-three .inner-box,
.testimonial-section.style-two .testimonial-block-one .inner-box .author-box .thumb-box,
.testimonial-section.style-two .testimonial-block-one .inner-box,
.main-footer .support-box,
.category-style-four .content-two .text,
.category-style-four .content-box .single-column:last-child .content-three:first-child .text,
.category-style-four .content-box .single-column:last-child .content-three:last-child .text,
.ads-section .image-inner .author-box,
.fluid-section .testimonial-content .thumb-box,
.subscribe-section .form-inner .form-group input[type='email'],
.shop-sidebar .search-widget .form-group input[type='search'],
.shop-sidebar .check-box input:checked + label:before,
.shop-sidebar .category-widget .accordion .acc-btn.active:before,
.shop-sidebar .category-widget .accordion .acc-btn.active .icon-box,
.shop-page-section .item-shorting .right-column .menu-box button.on,
.product-details-content .image-box,
.product-details-content .slider-content .thumb-box li a.active,
.product-details-content .content-box .discription-box,
.shop-details .product-discription .tabs-content,
.shop-details .product-discription .tab-btns,
.shop-details .product-discription .review-content .form-inner .form-group input:focus,
.shop-details .product-discription .review-content .form-inner .form-group textarea:focus,
.check-box-two input:checked + label:before,
.shop-details.style-two .product-discription,
.shop-details.style-two .product-discription .discription-content,
.shop-details.style-two .product-discription .specification-content,
.cart-section .table-outer,
.cart-section .coupon-box .form-group input:focus,
.cart-section .total-cart .shipping-cost .cost-list li .check-box input:checked + label:before,
.checkout-section .billing-content .form-inner .form-group input:focus,
.checkout-section .order-info .payment-option .check-box input:checked + label:before,
.about-section .image-box .rotate-box,
.about-section .content-box .inner-box,
.sign-section .form-inner,
.sign-section .form-inner .form-group input:focus,
.sign-section .form-inner .social-links li a:hover,
.blog-sidebar .search-widget .search-form .form-group input:focus,
.blog-details-content .content-one blockquote,
.blog-details-content .comment-box .form-inner .form-group input:focus,
.blog-details-content .comment-box .form-inner .form-group textarea:focus,
.contact-section .inner-container,
.category-menu .category-box .search-form .form-group input:focus

{
  border-color: var(--theme-color) !important;
}






















