/* Responsive Css */


@media only screen and (max-width: 1749px){



}


@media only screen and (max-width: 1499px){

}


@media only screen and (max-width: 1399px){

}


@media only screen and (max-width: 1299px){

}


@media only screen and (max-width: 1200px){
  .main-menu,
  .sticky-header,
  .main-header.style-one .outer-container:before{
    display: none !important;
  }

  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
  }

  .megamenu ul li:first-child,
  .mobile-menu .navigation > li.dropdown > .megamenu .advice-box{
    display: none;
  }

  .related-product .shop-block-one{
    width: 33.333%;
  }
}


@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}


@media only screen and (max-width: 991px){
  .slide-text.style-two.home-3 .pattern-layer{
    display: none;
  }

  .related-product .shop-block-one{
    width: 50%;
  }
}


@media only screen and (max-width: 767px){
  .sec-title h2{
    font-size: 36px;
    line-height: 44px;
  }

  .related-product .shop-block-one{
    width: 100%;
  }

  .related-product{
    padding-bottom: 40px;
  }

  .related-product.pt_180 {
    padding-top: 65px;
  }
}


@media only screen and (max-width: 599px){
  .pagination li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .shop-six .shop-block-two{
    width: 100%;
    border-bottom: 1px solid #E7E9F0;
  }

  .shop-six .shop-block-two:last-child{
    border-bottom: none;
  }
}


@media only screen and (max-width: 499px){
  .mobile-menu,
  .category-menu,
  .cart-popup{
    width: 100%;
  }
}




















