
/** about-section **/

.about-section{
  position: relative;
}

.about-section .image-box{
  position: relative;
  display: block;
  margin-right: 117px;
  padding-right: 142px;
  padding-bottom: 35px;
}

.about-section .image-box .image-1{
  position: relative;
  display: block;
  border-radius: 300px 300px 300px 10px;
  overflow: hidden;
}

.about-section .image-box img{
  position: relative;
  width: 100%;
}

.about-section .image-box .image-2{
  position: absolute;
  right: 0px;
  bottom: -110px;
  border-radius: 250px 250px 10px 250px;
}

.about-section .image-box .image-2 img{
  border-radius: 250px 250px 10px 250px;
}

.about-section .image-box .image-2:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 100%;
  height: 100%;
  right: 16px;
  bottom: 16px;
  border-radius: 250px 250px 10px 250px;
}

.about-section .image-box .rotate-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -63px;
  top: -330px;
  width: 186px;
  height: 186px;
  line-height: 186px;
  background: #fff;
  border-radius: 50%;
  border: dashed;
  border-width: 1px;
  z-index: 2;
}

.about-section .image-box .rotate-box .curved-circle{
  position: absolute;
  left: 93px;
  top: 7px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.about-section .image-box .rotate-box .icon-box img{
  display: inline-block;
  width: auto;
}

.about-section .content-box{
  position: relative;
  display: block;
}

.about-section .content-box h2{
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}

.about-section .content-box p span{
  font-weight: 700;
}

.about-section .content-box .inner-box{
  position: relative;
  display: block;
  background: #FDF7F9;
  border-radius: 10px;
  border: dashed;
  border-width: 1px;
  border-top: solid;
  border-top-width: 3px;
  padding: 35px 40px;
}

.funfact-block-one{
  position: relative;
  display: block;
}

.funfact-block-one:before{
  position: absolute;
  content: '';
  background: #E5E5E5;
  width: 1px;
  height: 100%;
  top: 0px;
  right: 15px;
}

.funfact-block:last-child .funfact-block-one:before{
  display: none;
}

.funfact-block-one .count-outer{
  position: relative;
  display: block;
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
}

.funfact-block-one p{
  color: var(--title-color);
}

.funfact-block-one .count-outer .symble{
  position: relative;
  top: -10px;
}



/** rtl-css **/

.rtl .about-section .image-box{
  margin-right: 0px;
  margin-left: 117px;
}

.rtl .funfact-block-one:before{
  right: inherit;
  left: 15px;
}


/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .about-section .image-box{
    margin: 0px;
    margin-bottom: 30px;
  }

  .rtl .about-section .image-box{
    margin-left: 0px;
  }

  .funfact-block-one{
    margin-bottom: 30px;
  }

  .funfact-block-one:before{
    display: none;
  }

  .about-section .content-box .inner-box{
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 767px){
  .about-section .content-box h2{
    font-size: 30px;
    line-height: 40px;
  }

  .about-section{
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 599px){
  .about-section .image-box{
    padding: 0px;
  }

  .about-section .image-box .image-2{
    position: relative;
    margin-top: 30px;
  }

  .about-section .content-box .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 499px){

}











































