
/** banner-section **/

.banner-section{
  position: relative;
  padding: 0px;
  overflow: hidden;
  background: linear-gradient(78.33deg, #FFCF78 5.9%, #FEE2B1 97.88%);
}

.banner-section .pattern-layer{
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 76px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 1;
}

.banner-section .image-box{
  position: relative;
  display: block;
}

.banner-section .image-box .image{
  position: relative;
  max-width: 629px;
  width: 100%;
  margin: 0 auto;
}

.banner-section .content-box{
  position: relative;
  display: block;
}

.banner-section .content-box h2{
  display: block;
  font-size: 72px;
  line-height: 76px;
  font-weight: 800;
  margin-bottom: 21px;
}

.banner-section .content-box h3{
  display: block;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 31px;
}

.banner-section .content-box h3 span{
  display: inline-block;
  font-weight: 800;
  color: #E92530;
}

.banner-section .anim-icon .anim-icon-1{
  position: absolute;
  left: 20px;
  bottom: 145px;
  width: 127px;
  height: 110px;
  z-index: 1;
}

.banner-section .anim-icon .anim-icon-2{
  position: absolute;
  left: 8px;
  bottom: 175px;
  width: 192px;
  height: 144px;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.banner-section .anim-icon .anim-icon-3{
  position: absolute;
  left: 88px;
  top: 184px;
  width: 34px;
  height: 31px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-4{
  position: absolute;
  left: 46%;
  top: 255px;
  width: 34px;
  height: 31px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-5{
  position: absolute;
  top: 87px;
  right: 555px;
  width: 34px;
  height: 31px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-6{
  position: absolute;
  bottom: 170px;
  right: 520px;
  width: 34px;
  height: 31px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-7{
  position: absolute;
  left: 42%;
  top: 56px;
  width: 128px;
  height: 110px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-8{
  position: absolute;
  right: 95px;
  top: 120px;
  width: 168px;
  height: 119px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-9{
  position: absolute;
  top: 190px;
  right: 112px;
  width: 93px;
  height: 93px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-10{
  position: absolute;
  right: 233px;
  bottom: 290px;
  width: 68px;
  height: 79px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-11{
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 268px;
  height: 221px;
  background-repeat: no-repeat;
}

.banner-section .image-box .image img{
  width: 100%;
}


/** banner-style-two **/

.banner-style-two{
  position: relative;
  padding: 0px;
  background: transparent;
}

.banner-style-two .banner-content{
  border-radius: 20px;
  overflow: hidden;
}

.banner-style-two .image-box .image{
  max-width: 519px;
}

.banner-style-two .lower-content{
  position: relative;
  width: 100%;
  background: #9AB3D8;
  padding: 18px 30px;
  z-index: 5;
}

.banner-style-two .lower-content:before,
.banner-style-two .lower-content:after{
  position: absolute;
  content: '';
  background: #fff;
  width: 1px;
  height: 100%;
  top: 0px;
  opacity: 0.4;
}

.banner-style-two .lower-content:before{
  left: 33.333%;
}

.banner-style-two .lower-content:after{
  left: 66.666%;
}

.banner-style-two .lower-content .info-list{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-style-two .lower-content .info-list li{
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.banner-style-two .slide-item{
  position: relative;
  padding: 60px 120px;
}

.banner-style-two .slide-item .bg-color-1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(190, 239, 255, 1);
}

.banner-style-two .slide-item .bg-color-2{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 238, 151, 1);
}

.banner-style-two .slide-item .bg-color-3{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 175, 151, 1);
}

.banner-carousel .content-box,
.banner-carousel .image-box{
  position: relative;
  z-index: 5;
}

.banner-carousel .content-box h2{
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box h2{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}

.banner-carousel .content-box h3{
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box h3{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.banner-carousel .content-box .btn-box{
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box .btn-box{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  -ms-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;
}

.banner-style-two .big-text{
  position: absolute;
  left: 0px;
  bottom: -66px;
  font-size: 280px;
  line-height: 200px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  opacity: 0.5;
  width: 100%;
  text-align: center;
}

.banner-section .anim-icon{
  position: absolute;
  left: 0px;
  top: 90px;
  width: 100%;
  height: 100%;
}

.banner-section .anim-icon .anim-icon-12{
  position: absolute;
  top: -270px;
  right: -85px;
  width: 822px;
  height: 822px;
  background: #fff;
  opacity: 0.2;
  border-radius: 50%;
}

.banner-section .anim-icon .anim-icon-13{
  position: absolute;
  left: 280px;
  top: 38px;
  width: 137px;
  height: 103px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-14{
  position: absolute;
  left: 50%;
  top: 277px;
  width: 137px;
  height: 103px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-15{
  position: absolute;
  top: 203px;
  right: 47px;
  width: 137px;
  height: 103px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-16{
  position: absolute;
  left: 52px;
  top: 53px;
  width: 140px;
  height: 100px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-17{
  position: absolute;
  left: 511px;
  bottom: 113px;
  width: 96px;
  height: 93px;
  background-repeat: no-repeat;
}

.banner-section .anim-icon .anim-icon-18{
  position: absolute;
  left: 57%;
  top: 150px;
  width: 107px;
  height: 111px;
  background-repeat: no-repeat;
  z-index: 6;
}

.banner-section .anim-icon .anim-icon-19{
  position: absolute;
  top: 0px;
  right: 136px;
  width: 85px;
  height: 187px;
}

.banner-section .anim-icon .anim-icon-20{
  position: absolute;
  right: 50px;
  bottom: 160px;
  width: 117px;
  height: 105px;
  background-repeat: no-repeat;
}


/** banner-style-three **/

.banner-style-three{
  position: relative;
}

.banner-style-three .slide-item{
  padding: 90px 0px 60px 0px;
}

.banner-style-three .slide-item .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-three .content-inner{
  position: relative;
  display: flex;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transform: scale(0,0);
  transition: all 1500ms ease;
}

.banner-style-three .content-inner .shape{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-three .content-inner .inner-box{
  max-width: 400px;
  margin: 0 auto;
}

.banner-style-three .content-inner h2{
  display: block;
  font-size: 72px;
  line-height: 79px;
  color: #fff;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-style-three .active .content-inner{
  transform: scale(1,1);
}


/** banner-style-four **/

.banner-style-four{
  position: relative;
  padding: 60px 0px 30px 0px;
  background: linear-gradient(180deg, #FDE0E8 0%, #FFFFFF 100%);
}

.banner-style-four .content-box-one{
  position: relative;
  display: block;
  background: #E91A3E;
  border-radius: 10px;
  padding: 36px 30px 140px 30px;
  border: dashed;
  border-width: 2px;
  border-color: #fff;
  overflow: hidden;
  margin-bottom: 30px;
}

.banner-style-four .content-box-one:before{
  position: absolute;
  content: '';
  background: #000;
  width: 620px;
  height: 620px;
  border-radius: 50%;
  top: -130px;
  opacity: 0.05;
  left: 50%;
  margin-left: -310px;
  -webkit-animation: zoom-fade 13s infinite linear;
  animation: zoom-fade 13s infinite linear;
}

.banner-style-four .content-box-one h2{
  font-size: 56px;
  line-height: 60px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 24px;
}

.banner-style-four .content-box-one h2 span{
  font-weight: 800;
  display: block;
}

.banner-style-four .content-box-one h3{
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 40px;
  color: #fff;
}

.banner-style-four .content-box-one h3 span{
  font-weight: 400;
}

.banner-style-four .content-box-two{
  position: relative;
  display: block;
  background: #FF8A00;
  border-radius: 10px;
  border: dashed;
  border-width: 2px;
  border-color: #fff;
  margin-bottom: 30px;
  padding: 35px 35px 30px 35px;
}

.banner-style-four .content-box-two:last-child{
  background: #F76188;
}

.banner-style-four .content-box-two .text{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  background: #D57300;
  border: dashed;
  border-width: 1px;
  border-color: #fff;
  padding: 1px 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banner-style-four .content-box-two:last-child .text{
  background: #E83664;
}

.banner-style-four .content-box-two h2{
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 9px;
}

.banner-style-four .content-box-two h4{
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 72px;
}

.banner-style-four .content-box-two h4 span{
  font-weight: 800;
}

.banner-style-four .content-box-two a{
  display: inline-block;
  font-size: 16px;
  line-height: 14px;
  font-weight: 700;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.banner-style-four .content-box-two a:hover{
  color: #000;
  border-color: #000;
}

.banner-style-four .content-box-two .text-box{
  max-width: 200px;
  float: left;
}


/** banner-style-five **/

.banner-section.style-five{
  background: #FF8A00;
  padding: 215px 0px;
}

.banner-section.style-five .content-box h2,
.banner-section.style-five .content-box h3,
.banner-section.style-five .content-box h3 span{
  color: #fff;
}

.banner-section.style-five .anim-icon .anim-icon-2{
  width: 362px;
  height: 272px;
}

.banner-section.style-five .anim-icon .anim-icon-8{
  width: 199px;
  height: 141px;
}

.banner-section .anim-icon .anim-icon-21{
  position: absolute;
  top: 0px;
  left: 120px;
  width: 85px;
  height: 187px;
}

.banner-section.style-five .pattern-layer .pattern-1{
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 31px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.banner-section.style-five .pattern-layer .pattern-2{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 63px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


/** rtl-css **/

.rtl .banner-carousel .content-box{
  text-align: right;
}


/** responsive-css **/

@media only screen and (max-width: 1200px){
  .banner-style-two .slide-item{
    padding-left: 60px;
    padding-right: 60px;
  }

  .banner-section.style-five .image-layer{
    display: none;
  }
}

@media only screen and (max-width: 991px){
  .banner-section .anim-icon{
    display: none;
  }
  .banner-section .image-box{
    margin-bottom: 30px;
  }

  .banner-carousel .content-box{
    margin-bottom: 30px;
  }

  .banner-style-two .lower-content .info-list{
    display: block;
    text-align: center;
  }

  .banner-style-two .lower-content:before, 
  .banner-style-two .lower-content:after{
    display: none;
  }

  .banner-section br{
    display: none;
  }
}

@media only screen and (max-width: 767px){
  .banner-section .content-box h2{
    font-size: 30px;
    line-height: 24px;
  }
 @media (max-width: 767px) {
  .banner-section .section-dark .features-list li {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .banner-section .content-box h2 {
    font-size: 20px !important;
    margin-bottom: 5px;
  }

  .banner-section .features-list li {
    font-size: 13px !important;
    line-height: 1.3;
  }

  .banner-section .btn-box a {
    font-size: 14px !important;
  }
}



  .banner-style-two .slide-item{
    padding-left: 30px;
    padding-right: 30px;
  }

  .banner-style-four .content-box-one h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-section.style-five{
    padding: 110px 0px 150px 0px;
  }
}

@media only screen and (max-width: 599px){
  .banner-style-four .content-box-one .image-1,
  .banner-style-four .content-box-one .image-2{
    display: none;
  }

  .banner-style-four .content-box-one{
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 499px){
  .banner-style-two .slide-item,
  .banner-style-four .content-box-one,
  .banner-style-four .content-box-two{
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-style-three .content-inner{
    width: 100%;
    height: auto;
  }

  .banner-style-three .content-inner .shape{
    display: none;
  }

  .banner-style-three .content-inner h2{
    font-size: 60px;
    line-height: 70px;
  }

  .banner-style-four .content-box-two .image-box{
    width: 50%;
  }
}

.phone-text {
  font-size: 20px;
}

@media (max-width: 400px) {
  .phone-text {
    font-size: 17px;
  }
}













































