

/** blog-sidebar **/

.blog-sidebar{
  position: relative;
  padding: 40px 35px;
  border: dashed;
  border-width: 1px;
  border-color: #D8D8D8;
  border-radius: 10px;
}

.blog-sidebar .search-widget .search-form .form-group{
  position: relative;
  margin-bottom: 0px;
}

.blog-sidebar .search-widget .search-form .form-group input[type='search']{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: solid;
  border-width: 1px;
  border-color: rgba(229, 229, 229, 1);
  font-size: 14px;
  color: var(--text-color);
  border-radius: 50px;
  padding: 10px 70px 10px 20px;
  transition: all 500ms ease;
}

.blog-sidebar .search-widget .search-form .form-group button[type='submit']{
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 5px;
  width: 57px;
  height: 40px;
  line-height: 46px;
  text-align: center;
  border-radius: 45px;
  font-size: 16px;
  color: #fff;
  transition: all 500ms ease;
}

.blog-sidebar .search-widget .search-form .form-group input:focus{

}

.blog-sidebar .search-widget .search-form .form-group input:focus + button,
.blog-sidebar .search-widget .search-form .form-group button:hover{

}

.blog-sidebar .widget-title{
  position: relative;
  display: block;
}

.blog-sidebar .widget-title h3{
  font-size: 24px;
  line-height: 30px;
}

.blog-sidebar .category-widget .category-list li{
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.blog-sidebar .category-widget .category-list li:last-child{
  margin-bottom: 0px;
}

.blog-sidebar .check-box-two input:checked + label {

}

.blog-sidebar .post-widget .post{
  position: relative;
  display: block;
  padding: 7px 0px 28px 120px;
  margin-bottom: 20px;
  border-bottom: dashed;
  border-width: 1px;
  border-color: rgba(229, 229, 229, 1);
  min-height: 111px;
}

.blog-sidebar .post-widget .post:last-child{
  border-bottom: none;
  margin-bottom: 0px;
}

.blog-sidebar .post-widget .post .post-thumb{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 105px;
  height: 90px;
  overflow: hidden;
  border-radius: 10px;
}

.blog-sidebar .post-widget .post .post-thumb img{
  width: 100%;
  transition: all 500ms ease;
}

.blog-sidebar .post-widget .post:hover .post-thumb img{
  opacity: 0.5;
  transform: scale(1.05);
}

.blog-sidebar .post-widget .post h5{
  display: block;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 11px;
}

.blog-sidebar .post-widget .post h5 a{
  display: inline-block;
  color: var(--title-color);
}

.blog-sidebar .post-widget .post h5 a:hover{

}

.blog-sidebar .post-widget .post .post-date{
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: rgba(106, 106, 106, 1);
}

.blog-sidebar .advice-widget{
  position: relative;
  display: block;
  overflow: hidden;
  padding: 40px 30px 10px 30px;
  background: #E91A3E;
  border-radius: 20px;
}

.blog-sidebar .advice-widget:before{
  position: absolute;
  content: '';
  background: #000;
  width: 373px;
  height: 373px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -200px;
  opacity: 0.1;
}

.blog-sidebar .advice-widget span{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #E91A3E;
  background: #fff;
  padding: 1px 15px;
  border-radius: 30px;
  margin-bottom: 14px;
}

.blog-sidebar .advice-widget h2{
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 14px;
}

.blog-sidebar .archives-widget .archives-list li{
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.blog-sidebar .archives-widget .archives-list li:last-child{
  margin-bottom: 0px;
}

.blog-sidebar .archives-widget .archives-list li a{
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  color: var(--title-color);
}

.blog-sidebar .archives-widget .archives-list li a:hover{
  padding-left: 16px;
}

.blog-sidebar .archives-widget .archives-list li a i{
  position: absolute;
  left: 0px;
  top: 7px;
  opacity: 0;
  font-size: 12px;
  transition: all 500ms ease;
}

.blog-sidebar .archives-widget .archives-list li a:hover i{
  opacity: 1;
}

.blog-sidebar .gallery-widget .image-list{
  position: relative;
  margin: 0px -6px;
}

.blog-sidebar .gallery-widget .image-list li{
  position: relative;
  display: inline-block;
  float: left;
  margin: 0px 5px 10px 5px;
}

.blog-sidebar .gallery-widget .image-list li .image{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.blog-sidebar .gallery-widget .image-list li .image img{
  width: 100%;
  border-radius: 10px;
}

.blog-sidebar .tags-widget .tags-list{
  position: relative;
  margin: 0px -5px;
}

.blog-sidebar .tags-widget .tags-list li{
  position: relative;
  display: inline-block;
  float: left;
  margin: 0px 5px 10px 5px;
}

.blog-sidebar .tags-widget .tags-list li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  color: rgba(106, 106, 106, 1);
  background: rgba(244, 244, 244, 1);
  padding: 5px 19px;
  border-radius: 30px;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
  color: #fff;
}

.blog-sidebar{
  padding-bottom: 30px;
}



/** rtl-css **/

.rtl .blog-sidebar .check-box label{
  padding-left: 0px;
}

.rtl .blog-sidebar .check-box label:after{
  left: inherit;
  right: 0px;
}

.rtl .blog-sidebar .post-widget .post{
  padding-left: 0px;
  padding-right: 120px;
}

.rtl .blog-sidebar .post-widget .post .post-thumb{
  left: inherit;
  right: 0px;
}

.rtl .blog-sidebar .archives-widget .archives-list li a i{
  left: inherit;
  right: 0px;
  transform: rotate(180deg);
}

.rtl .blog-sidebar .archives-widget .archives-list li a:hover{
  padding-left: 0px;
  padding-right: 16px;
}

.rtl .blog-sidebar .gallery-widget .image-list li{
  float: right;
}

.rtl .blog-sidebar .tags-widget .tags-list li{
  float: right;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){
  .blog-sidebar{
    margin-top: 40px;
  }
}

@media only screen and (max-width: 991px){
  
}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .blog-sidebar{
    padding-left: 30px;
    padding-right: 30px;
  }
}





























