

/** sidebar-page-container **/

.sidebar-page-container{
  position: relative;
}

.sidebar-page-container .cta-section .inner-container{
  padding-left: 540px;
}

.sidebar-page-container .cta-section h2{
  font-size: 40px;
  line-height: 48px;
}

.blog-grid-content .news-block-one .inner-box{
  margin-bottom: 55px;
}

.sidebar-page-container .news-block-one .inner-box .lower-content h2{
  display: block;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 14px;
}

.sidebar-page-container .news-block-one .inner-box .lower-content h2 a{
  display: inline-block;
  color: var(--title-color);
}

.sidebar-page-container .news-block-one .inner-box .lower-content h2 a:hover{

}

.blog-standard-content .news-block-one .inner-box{
  margin-bottom: 60px;
}

.sidebar-page-container .sec-title h2{
  font-size: 36px;
  line-height: 42px;
}

.blog-standard-content .news-block-one .inner-box .image-box{
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.blog-standard-content .news-block-one .inner-box .image-box img{
  width: 100%;
  transition: all 500ms ease;
}

.blog-standard-content .news-block-one .inner-box:hover .image-box img{
  transform: scale(1.05);
}

.blog-standard-content .news-block-one .inner-box .image-box .post-info,
.blog-details-content .news-block-one .inner-box .image-box .post-info{
  width: 250px;
}


/** blog-details-content **/

.blog-details-content{
  position: relative;
}

.blog-details-content .content-one blockquote{
  position: relative;
  display: block;
  background: #FDF7F9;
  border-radius: 10px;
  padding: 40px 30px 32px 110px;
  border: dashed;
  border-width: 1px;
  border-top: 3px solid;
}

.blog-details-content .content-one blockquote .icon-box{
  position: absolute;
  left: 30px;
  top: 45px;
  font-size: 45px;
}

.blog-details-content .content-one blockquote p{
  font-size: 20px;
  line-height: 30px;
  font-family: var(--title-font);
  color: var(--title-color);
  margin-bottom: 16px;
  font-style: italic;
}

.blog-details-content .content-one blockquote h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
}

.blog-details-content .content-one .image-box{
  position: relative;
  display: block;
  border-radius: 10px;
}

.blog-details-content .content-one .image-box img{
  width: 100%;
  border-radius: 10px;
}

.blog-details-content .content-two{
  position: relative;
  display: block;
}

.blog-details-content .content-two h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 14px;
}

.blog-details-content .content-two p{
  color: var(--title-color);
  margin-bottom: 26px;
}

.blog-details-content .content-two p:last-child{
  margin-bottom: 0px;
}

.blog-details-content .content-two h4{
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}

.blog-details-content .content-two .list-style-one li{
  font-size: 16px;
}

.blog-details-content .post-share-option{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #D8D8D8;
}

.blog-details-content .post-share-option ul{
  position: relative;
  display: flex;
  align-items: center;
}

.blog-details-content .post-share-option ul li{
  position: relative;
  display: inline-block;
}

.blog-details-content .post-share-option ul li span{
  font-size: 16px;
  font-weight: 600;
  color: var(--title-color);
  padding-right: 4px;
}

.blog-details-content .post-share-option .tags-list li{
  margin-right: 10px;
}

.blog-details-content .post-share-option .tags-list li:last-child{
  margin-right: 0px;
}

.blog-details-content .post-share-option .tags-list li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
  background: #F4F4F4;
  border-radius: 50px;
  padding: 4px 24px;
  border: dashed;
  border-width: 1px;
  border-color: #F4F4F4;
}

.blog-details-content .post-share-option .tags-list li a:hover{
  color: #fff;
  border-color: #fff;
}

.blog-details-content .post-share-option .social-links li{
  margin-right: 20px;
}

.blog-details-content .post-share-option .social-links li:last-child{
  margin-right: 0px;
}

.blog-details-content .post-share-option .social-links li a{
  display: inline-block;
  font-size: 20px;
  color: var(--title-color);
}

.blog-details-content .post-share-option .social-links li a:hover{

}

.blog-details-content .author-box{
  position: relative;
  display: block;
  padding: 7px 0px 51px 190px;
  border-bottom: 1px dashed #D8D8D8;
}

.blog-details-content .author-box .thumb-box{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.blog-details-content .author-box .thumb-box img{
  width: 100%;
  border-radius: 50%;
}

.blog-details-content .author-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
}

.blog-details-content .author-box .designation{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 17px;
}

.blog-details-content .comment-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}

.blog-details-content .comment-box .form-inner .form-group{
  position: relative;
  display: block;
  margin-bottom: 22px;
}

.blog-details-content .comment-box .form-inner .form-group label{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
  margin-bottom: 8px;
}

.blog-details-content .comment-box .form-inner .form-group label span{
  color: rgba(255, 45, 45, 1);
}

.blog-details-content .comment-box .form-inner .form-group input[type='text'],
.blog-details-content .comment-box .form-inner .form-group input[type='email'],
.blog-details-content .comment-box .form-inner .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px dashed #D8D8D8;
  border-radius: 50px;
  font-size: 16px;
  color: var(--text-color);
  padding: 10px 20px;
  transition: all 500ms ease;
}

.blog-details-content .comment-box .form-inner .form-group input:focus,
.blog-details-content .comment-box .form-inner .form-group textarea:focus{

}

.blog-details-content .comment-box .form-inner .check-box-two label{
  color: var(--text-color);
}

.blog-details-content .comment-box .form-inner .form-group textarea{
  height: 195px;
  resize: none;
  border-radius: 20px;
}

.blog-details-content .comment-box .form-inner .check-box label{
  font-size: 16px;
}

.blog-details-content .comment-box .form-inner .check-box label:after{
  content: '\e928';
  font-family: 'icomoon';
  background: none;
  font-size: 6px;
  left: 4px;
  top: 0px;
}

.blog-details-content .comment-box .form-inner .theme-btn{
  padding: 8px 40px;
  color: #fff;
  border-color: #fff !important;
}

.blog-details-content .comment-box .form-inner .theme-btn:before,
.blog-details-content .comment-box .form-inner .theme-btn:after{
  background: #000;
}



/** rtl-css **/

.rtl .blog-details-content .post-share-option .tags-list li{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .blog-details-content .post-share-option .social-links li{
  margin-right: 0px;
  margin-left: 20px;
}

.rtl .blog-details-content .author-box{
  padding-left: 0px;
  padding-right: 190px;
}

.rtl .blog-details-content .author-box .thumb-box{
  left: inherit;
  right: 0px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){
  .sidebar-page-container .cta-section .inner-container{
    padding-left: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 991px){
  .blog-standard-content{
    margin-right: 0px;
  }

  .blog-details-content{
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px){
  .sidebar-page-container .news-block-one .inner-box .lower-content h2{
    font-size: 30px;
    line-height: 40px;
  }

  .blog-details-content .post-share-option{
    display: block;
  }

  .blog-details-content .post-share-option .tags-list{
    margin-bottom: 15px;
  }

  .sidebar-page-container{
    padding-bottom: 70px;
  }


}

@media only screen and (max-width: 599px){
  .blog-standard-content .news-block-one .inner-box .lower-content .post-info{
    display: block;
  }

  .blog-details-content .post-share-option .tags-list{
    display: block;
  }

  .blog-details-content .post-share-option .tags-list li{
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 499px){

  .blog-details-content .author-box{
    padding-left: 0px;
  }

  .rtl .blog-details-content .author-box{
    padding-right: 0px;
  }

  .blog-details-content .author-box .thumb-box{
    position: relative;
    margin-bottom: 20px;
  }

  .blog-details-content .content-one blockquote{
    padding-left: 30px;
  }

  .blog-details-content .content-one blockquote .icon-box{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 30px;
  }
}




















