

/** cart-section **/

.cart-section{
  position: relative;
}

.cart-section .target-price{
  position: relative;
  display: block;
  border: 1px dashed rgba(229, 229, 229, 1);
  padding: 19px 30px;
  border-radius: 10px;
}

.cart-section .target-price p{
  font-size: 16px;
  line-height: 20px;
  font-family: var(--title-font);
  margin-bottom: 19px;
  font-weight: 600;
}

.cart-section .target-price p span{
  color: #E92530;
}

.cart-section .target-price .progress-box .bar{
  background: #F8EBEF;
  height: 4px;
  border-radius: 30px;
}

.cart-section .target-price .progress-box .bar-inner{
  height: 4px;
  border-radius: 30px;
}

.cart-section .table-outer {
  overflow-x: auto;
  position: relative;
  width: 100%;
  border: dashed;
  border-width: 1px;
  border-radius: 10px;
}

.cart-section .cart-table {
  min-width: 1170px;
  width: 100%;
}

.cart-section .cart-table thead{
  position: relative;
  background: #FDF7F9;
}

.cart-section .cart-table thead th{
  font-size: 14px;
  line-height: 24px;
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 30px;
  text-align: center;
}

.cart-section .cart-table thead th:first-child{
  text-align: left;
}

.cart-section .cart-table tbody tr{
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.cart-section .cart-table tbody tr:last-child{
  border-bottom: none;
}

.cart-section .cart-table td{
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #E92530;
  text-align: center;
  font-weight: 700;
}

.cart-section .cart-table tbody .product-column{
  padding: 19px 30px;
}

.cart-section .cart-table tbody .product-column .product-box{
  position: relative;
  display: flex;
  align-items: center;
}

.cart-section .cart-table tbody .product-column .product-box .image-box{
  position: relative;
  display: inline-block;
  width: 85px;
  height: 85px;
  margin-right: 30px;
}

.cart-section .cart-table tbody .product-column .product-box h6{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.cart-section .cart-table tbody .product-column .product-box h6 a{
  display: inline-block;
  color: var(--title-color);
}

.cart-section .cart-table tbody .product-column .product-box h6 a:hover{

}

.cart-section .cart-table td .cancel-btn{
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: var(--title-color);
  transition: all 500ms ease;
}

.cart-section .cart-table td .cancel-btn:hover,
.cart-section .cart-table td .cancel-btn:focus,
.cart-section .cart-table td .cancel-btn:active{
  color: red;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical > .btn.bootstrap-touchspin-up,
.cart-section .bootstrap-touchspin .input-group-btn-vertical > .btn.bootstrap-touchspin-down{
  border: none !important;
}

.cart-section .item-quantity{
  position: relative;
  display: inline-block;
  max-width: 110px;
  width: 100%;
  padding: 0px 30px;
  margin-left: 0px;
  border: 1px dashed #D8D8D8;
  border-radius: 50px !important;
  height: 40px;
  z-index: 1;
  margin: 0 auto;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical i{
  left: 12px;
}

.cart-section .item-quantity input.quantity-spinner {
  line-height: 48px;
  height: 40px;
  width: 43px !important;
  padding: 0px !important;
  box-shadow: none !important;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
  background: transparent;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical > .btn.bootstrap-touchspin-down{
  position: absolute;
  height: 40px;
  width: 70px;
  background: transparent;
  padding: 0px 0px;
  left: -30px;
  top: 0px;
  border-radius: 0px;
  border: none !important;
}

.cart-section .bootstrap-touchspin .btn.bootstrap-touchspin-up:before,
.cart-section .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down:before{
  color: var(--title-color) !important;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical > .btn.bootstrap-touchspin-up{
  position: absolute;
  height: 40px;
  width: 70px;
  background: transparent;
  padding: 0px 0px;
  right: -35px;
  top: 0px;
  margin-top: 0px;
  border-radius: 0px;
  border: none !important;
}

.cart-section .bootstrap-touchspin .glyphicon-chevron-up:before {
  content: "\f067";
  font-size: 16px;
  font-style: normal;
  color: var(--title-color);
  font-family: 'Font Awesome 5 Pro';
}

.cart-section .bootstrap-touchspin .glyphicon-chevron-down:before {
  content: "\f068";
  font-size: 16px;
  font-style: normal;
  color: var(--title-color);
  font-family: 'Font Awesome 5 Pro';
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical{
  position: absolute;
  width: 100%;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical i{
  top: 15px;
  left: 15px;
  font-size: inherit !important; 
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down{
  margin-top: 0px;
}

.cart-section .bootstrap-touchspin .btn:hover,
.cart-section .bootstrap-touchspin .btn:focus{
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.cart-section .item-quantity{
  border-radius: 5px;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical > .btn.bootstrap-touchspin-down{
  width: 40px;
  top: 0px;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical > .btn.bootstrap-touchspin-up{
  width: 50px;
  top: 0px;
}

.cart-section .coupon-box .form-group{
  position: relative;
  max-width: 330px;
  margin-bottom: 0px;
}

.cart-section .coupon-box .form-group input[type='text']{
  position: relative;
  display: block;
  width: 100%;
  height: 51px;
  border: 1px dashed rgba(229, 229, 229, 1);
  border-radius: 55px;
  font-size: 16px;
  color: var(--title-color);
  padding: 10px 75px 10px 20px;
  transition: all 500ms ease;
}

.cart-section .coupon-box .form-group input:focus{
  
}

.cart-section .coupon-box .form-group button{
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 5px;
  width: 56px;
  height: 41px;
  line-height: 44px;
  font-size: 11px;
  border-radius: 55px;
  color: #fff;
  text-align: center;
  transition: all 500ms ease;
}

.cart-section .total-cart{
  position: relative;
  display: block;
  border: 1px dashed #D8D8D8;
  border-radius: 10px;
  background: #FDF7F9;
  padding: 30px 40px 40px 40px;
}

.cart-section .total-cart .title-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #D8D8D8;
  padding-bottom: 10px;
  margin-bottom: 22px;
}

.cart-section .total-cart h4{
  font-size: 20px;
  line-height: 30px;
  font-family: var(--title-font);
}

.cart-section .total-cart h5{
  font-size: 20px;
  line-height: 30px;
  color: rgba(233, 37, 48, 1);
}

.cart-section .total-cart .shipping-cost h4{
  margin-bottom: 12px;
}

.cart-section .total-cart .shipping-cost .cost-list li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-section .total-cart .shipping-cost .cost-list li .price{
  font-size: 13px;
  color: var(--title-color);
}

.cart-section .total-cart .shipping-cost .cost-list li .check-box input {
  display: none;
}

.cart-section .total-cart .shipping-cost .cost-list li .check-box label {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: var(--title-color);
  padding-left: 24px;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0px;
}

.cart-section .total-cart .shipping-cost .cost-list li .check-box label:before{
  position: absolute;
  content: '';
  left: 0px;
  top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #9A9A9A;
}

.cart-section .total-cart .shipping-cost .cost-list li .check-box label:after {
  position: absolute;
  content: '';
  top: 8px;
  opacity: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 3px;
}

.cart-section .total-cart .shipping-cost .cost-list li .check-box input:checked + label:after {
  opacity: 1;
}

.cart-section .total-cart .shipping-cost .cost-list li .check-box input:checked + label:before{

}

.cart-section .total-cart .shipping-calculator h4{
  margin-bottom: 15px;
}

.cart-section .total-cart .shipping-calculator .form-group{
  position: relative;
  margin-bottom: 10px;
}

.cart-section .total-cart .shipping-calculator .form-group:last-child{
  margin-bottom: 0px;
}

.cart-section .total-cart .shipping-calculator .form-group .select-box{
  min-height: 50px;
}

.cart-section .total-cart .shipping-calculator .form-group .nice-select,
.cart-section .total-cart .shipping-calculator .form-group input[type='text']{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px dashed #D8D8D8;
  border-radius: 50px;
  font-size: 14px;
  color: var(--title-color);
  padding: 10px 20px;
  text-transform: capitalize;
}

.cart-section .total-cart .shipping-calculator .form-group .nice-select{
  padding: 0px 20px;
  line-height: 50px;
  background: #fff;
  border: 1px dashed #D8D8D8;
}

.cart-section .total-cart .shipping-calculator .form-group .nice-select:before{
  color: var(--title-color);
  right: 20px;
}

.cart-section .total-cart .shipping-calculator .form-group .theme-btn{
  padding: 8px 30px;
  width: 100%;
}

.cart-section .total-cart .btn-box .theme-btn{
  width: 100%;
  padding: 8px 30px;
  color: #fff !important;
  border-color: #fff !important;
}


.cart-section .total-cart .total-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px 22px 0px;
}

.cart-section .sec-title h2{
  font-size: 36px;
  line-height: 42px;
}


/** rtl-css **/

.rtl .cart-section .cart-table tbody .product-column .product-box .image-box{
  margin-right: 0px;
  margin-left: 24px;
}

.rtl .cart-section .total-cart .shipping-cost .cost-list li .check-box label:after{
  left: 0px;
  right: 3px;
}

.rtl .cart-section .total-cart .shipping-calculator .form-group .nice-select:before{
  right: inherit;
  left: 20px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .cart-section .total-cart{
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px){
  .cart-section{
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .cart-section .total-cart{
    padding-left: 30px;
    padding-right: 30px;
  }
}











































