
/** checkout-section **/

.checkout-section{
  position: relative;
}

.checkout-section .sec-title h2{
  font-size: 36px;
  line-height: 42px;
}

.checkout-section h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 33px;
}

.checkout-section .billing-content{
  position: relative;
  display: block;
}

.checkout-section .billing-content .form-inner{
  margin: 0px 10px;
  padding-bottom: 20px;
}

.checkout-section .billing-content .form-inner .field-column{
  padding: 0px 5px;
}

.checkout-section .billing-content .form-inner .form-group{
  position: relative;
  display: block;
  margin-bottom: 26px;
}

.checkout-section .billing-content .form-inner .form-group input[type='text'],
.checkout-section .billing-content .form-inner .form-group input[type='email']{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px dashed rgba(229, 229, 229, 1);
  font-size: 16px;
  color: var(--title-color);
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 500ms ease;
}

.checkout-section .billing-content .form-inner .form-group input:focus{

}

.checkout-section .billing-content .form-inner .form-group .select-box{
  min-height: 50px;
}

.checkout-section .billing-content .form-inner .form-group .select-box .list{
  width: 100%;
}

.checkout-section .billing-content label{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
  margin-bottom: 4px;
}

.checkout-section .billing-content .form-inner .form-group label span{
  color: rgba(233, 37, 48, 1);
}

.checkout-section .billing-content .form-inner .form-group .nice-select{
  border: 1px dashed rgba(229, 229, 229, 1);
  font-size: 16px;
  color: var(--title-color);
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  text-transform: capitalize;
  border-radius: 50px;
}

.checkout-section .billing-content .form-inner .form-group .nice-select:before{
  color: var(--title-color);
  right: 20px;
}

.checkout-section .billing-content .other-address h3{
  margin-bottom: 30px;
}

.checkout-section .billing-content .check-box label:before{
  top: 6px;
}

.checkout-section .billing-content .check-box label:after{
  background: none !important;
  content: '\e928';
  font-family: 'icomoon';
  font-size: 7px;
  top: 1px;
  left: 3px;
}

.checkout-section .order-info{
  position: relative;
  display: block;
  background: #FDF7F9;
  border: 1px dashed #D8D8D8;
  padding: 21px 30px 40px 30px;
  border-radius: 10px;
}

.checkout-section .order-info .title-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px dashed #D8D8D8;
  margin-bottom: 30px;
}

.checkout-section .order-info .title-box .text{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-color);
}

.checkout-section .order-info .order-product .single-item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.checkout-section .order-info h4{
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: rgba(233, 37, 48, 1);
}

.checkout-section .order-info h4 span{
  color: var(--title-color);
}

.checkout-section .order-info .order-product .single-item .product-box{
  position: relative;
  display: flex;
  align-items: center;
}

.checkout-section .order-info .order-product .single-item .product-box .image-box{
  position: relative;
  display: inline-block;
  width: 85px;
  height: 85px;
  margin-right: 24px;
}

.checkout-section .order-info .order-product .single-item h6{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  max-width: 190px;
}

.checkout-section .order-info .order-product .single-item h6 span{
  color: rgba(124, 124, 124, 1);
}

.checkout-section .order-info .cost-box{
  position: relative;
  display: block;
  padding-top: 22px;
  padding-bottom: 32px;
  border-top: 1px dashed #D8D8D8;
  border-bottom: 1px dashed #D8D8D8;
  margin-bottom: 18px;
}

.checkout-section .order-info .cost-box li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 33px;
}

.checkout-section .order-info .cost-box li:last-child{
  margin-bottom: 0px;
}

.checkout-section .order-info .total-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.checkout-section .order-info .payment-option .bank-payment{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 22px 30px;
  margin-bottom: 30px;
}

.checkout-section .order-info .payment-option .bank-payment p{
  font-size: 15px;
  line-height: 24px;
  margin-left: 24px;
}

.checkout-section .order-info .payment-option .check-box input {
  display: none;
}

.checkout-section .order-info .payment-option .check-box label {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: var(--title-color);
  padding-left: 24px;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0px;
}

.checkout-section .order-info .payment-option .check-box label:before{
  position: absolute;
  content: '';
  left: 0px;
  top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #9A9A9A;
}

.checkout-section .order-info .payment-option .check-box label:after {
  position: absolute;
  content: '';
  top: 8px;
  opacity: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 3px;
}

.checkout-section .order-info .payment-option .check-box input:checked + label:after {
  opacity: 1;
}

.checkout-section .order-info .payment-option .check-box input:checked + label:before{

}

.checkout-section .order-info .btn-box .theme-btn{
  width: 100%;
  color: #fff;
  border-color: #fff !important;
  padding: 8px 30px;
}



/** rtl-css **/

.rtl .checkout-section .order-info .order-product .single-item .product-box .image-box{
  margin-right: 0px;
  margin-left: 15px;
}

.rtl .checkout-section .order-info .payment-option .check-box label:after{
  left: inherit;
  right: 3px;
}

.rtl .checkout-section .billing-content{
  margin-right: 0px;
  margin-left: 30px;
}

.rtl .checkout-section .billing-content label{
  padding-left: 0px;
  padding-right: 24px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .checkout-section .billing-content{
    margin-bottom: 40px;
  }

  .checkout-section .billing-content{
    margin-right: 0px;
  }

  .rtl .checkout-section .billing-content{
    margin-left: 0px;
  }
}

@media only screen and (max-width: 767px){
  .checkout-section{
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 599px){
  .checkout-section .order-info .order-product .single-item{
    display: block;
    margin-bottom: 10px;
  }

  .checkout-section .order-info .order-product .single-item h6 br{
    display: none;
  }

  .checkout-section .order-info .order-product .single-item .product-box{
    display: block;
  }

  .checkout-section .order-info .order-product .single-item .product-box .image-box{
    margin: 0px 0px 10px 0px !important;
  }
}

@media only screen and (max-width: 499px){

}























