
/** contact-info-section **/

.contact-info-section{
  position: relative;
}

.contact-info-section .sec-title h2{
  font-size: 36px;
  line-height: 42px;
}

.info-block-one .inner-box{
  position: relative;
  display: block;
  background: #FECDB1;
  border-radius: 20px;
  padding: 37px 30px 36px 156px;
  margin-bottom: 30px;
  transition: all 500ms ease;
}

.info-block-one .inner-box:hover{
  box-shadow: 0px 10px 50px 0px rgba(255, 107, 0, 0.15);
  transform: translateY(-10px);
}

.info-column:nth-child(2) .info-block-one .inner-box{
  background: #BBD2FF;
}

.info-column:nth-child(3) .info-block-one .inner-box{
  background: #A2F8B2;
}

.info-column:nth-child(4) .info-block-one .inner-box{
  background: #FFACAC;
}

.info-block-one .inner-box .icon-box{
  position: absolute;
  display: inline-block;
  overflow: hidden;
  left: 30px;
  top: 40px;
  width: 86px;
  height: 86px;
  line-height: 86px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  z-index: 1;
  transition: all 500ms ease;
}

.info-block-one:hover .inner-box .icon-box img{
  animation: toBottomFromTop .7s forwards;
}

.info-block-one .inner-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 9px;
}

.info-block-one .inner-box p a{
  color: var(--title-color);
}

.info-block-one .inner-box p a:hover{
  text-decoration: underline;
}


.contact-section{
  position: relative;
}

.contact-section .inner-container{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  border: dashed;
  border-width: 1px;
  background: #FDF7F9;
}

.contact-section .map-inner{
  position: relative;
  height: 578px;
  margin-left: -15px;
}

.contact-section .map-inner iframe{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.contact-section .form-inner{
  position: relative;
  display: block;
  margin-right: -15px;
  padding: 52px 60px 60px 60px;
}

.contact-section .form-inner .form-group{
  position: relative;
  margin-bottom: 22px;
}

.contact-section .form-inner .form-group label{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 4px;
}

.contact-section .form-inner .form-group:last-child{
  margin-bottom: 0px;
}

.contact-section .form-inner .form-group input[type='text'],
.contact-section .form-inner .form-group input[type='email'],
.contact-section .form-inner .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 50px;
  background: #fff;
  border: 1px dashed #D8D8D8;
  transition: all 500ms ease;
}

.contact-section .form-inner .form-group textarea{
  height: 150px;
  resize: none;
  border-radius: 20px;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus{

}

.contact-section .form-inner .form-group .theme-btn{
  color: #fff;
  border-color: #fff !important;
  padding: 8px 30px;
}

.contact-section .form-inner .form-group .theme-btn:before,
.contact-section .form-inner .form-group .theme-btn:after{
  background: #000;
}


/** rtl-css **/

.rtl .info-block-one .inner-box{
  padding-left: 30px;
  padding-right: 156px;
}

.rtl .info-block-one .inner-box .icon-box{
  left: inherit;
  right: 30px;
}

.rtl .contact-section .form-inner{
  margin-right: 0px;
  margin-left: -15px;
}

.rtl .contact-section .map-inner{
  margin-left: 0px;
  margin-right: -15px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .contact-section .form-inner{
    margin-right: 0px;
  }

  .rtl .contact-section .form-inner{
    margin-left: 0px;
  }

  .contact-section .map-inner{
    margin-left: 0px;
  }

  .rtl .contact-section .map-inner{
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px){
  .contact-section{
    padding-bottom: 70px;
  }

  .contact-section .form-inner{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .info-block-one .inner-box,
  .rtl .info-block-one .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .info-block-one .inner-box .icon-box{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 15px;
  }

  .rtl .info-block-one .inner-box .icon-box{
    right: 0px;
  }
}





































