
/** error-section **/

.error-section{
  position: relative;
}

.error-section .content-box{
  position: relative;
  display: block;
}

.error-section .content-box .image-box{
  position: relative;
  display: block;
  margin-bottom: 60px;
}

.error-section .content-box h2{
  position: relative;
  display: block;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
}

.error-section .content-box .btn-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.error-section .content-box .btn-box .theme-btn{
  padding: 8px 30px;
}

.error-section .content-box .btn-box .theme-btn i{
  font-size: 12px;
  margin-right: 8px;
  color: var(--title-color);
  position: relative;
  top: -1px;
  transition: all 500ms ease;
}

.error-section .content-box .btn-box .theme-btn:hover i{
  color: #fff;
}

.error-section .content-box .btn-box .theme-btn:last-child{
  color: #fff;
  border-color: #fff !important;
}

.error-section .content-box .btn-box .theme-btn:last-child:before,
.error-section .content-box .btn-box .theme-btn:last-child:after{
  background: #000;
}


/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .error-section{
    padding-bottom: 70px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .error-section .content-box .btn-box{
    display: block;
  }

  .error-section .content-box .btn-box .theme-btn:first-child{
    margin-bottom: 15px;
  }
}











































