
/** instagram-section **/

.instagram-section{
  position: relative;
  padding-bottom: 2px;
}

.instagram-block-one .inner-box{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.instagram-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
}

.instagram-block-one .inner-box .image-box img{
  width: 100%;
  border-radius: 10px;
  transition: all 500ms ease;
}

.instagram-block-one .inner-box:hover .image-box img{
  transform: scale(1.5);
}

.instagram-block-one .inner-box .text-box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0,0);
  background: #fff;
  padding: 15px 29px;
  min-width: 290px;
  border-radius: 50px;
  transition: all 500ms ease;
}

.instagram-block-one .inner-box:hover .text-box{
  transform: translate(-50%,-50%) scale(1,1);
}

.instagram-block-one .inner-box .text-box a{
  position: relative;
  display: inline-block;
  padding-left: 43px;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--title-font-three);
  font-weight: 600;
  color: var(--title-color);
}

.instagram-block-one .inner-box .text-box a:hover{

}

.instagram-block-one .inner-box .text-box a img{
  position: absolute;
  left: 0px;
  top: 0px;
}


/** rtl-css **/




/** responsive-css **/

@media only screen and (max-width: 1200px){
  .brands-section .brands-list{
    display: block;
    text-align: center;
  }

  .brands-section .brands-list .brands-block-one{
    display: inline-block;
  }
}

@media only screen and (max-width: 991px){
  .brands-section .pattern-layer{
    display: none;
  }
}

@media only screen and (max-width: 767px){
  .brands-style-two{
    padding: 65px 0px 50px 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}











































