

/** sign-section **/

.sign-section{
  position: relative;
}

.sign-section .form-inner{
  position: relative;
  display: block;
  max-width: 590px;
  width: 100%;
  margin: 0 auto;
  background: #FDF7F9;
  border-radius: 10px;
  padding: 29px 30px 32px 30px;
  border: dashed;
  border-width: 1px;
}

.sign-section .form-inner .form-group{
  position: relative;
  display: block;
  margin-bottom: 22px;
}

.sign-section .form-inner .form-group label{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
  margin-bottom: 4px;
}

.sign-section .form-inner .form-group input[type='text'],
.sign-section .form-inner .form-group input[type='email'],
.sign-section .form-inner .form-group input[type='password']{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px dashed #D8D8D8;
  background: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--title-color);
  transition: all 500ms ease;
}

.sign-section .form-inner .form-group input:focus{

}

.sign-section .form-inner .form-group .theme-btn{
  width: 100%;
  color: #fff;
  padding: 8px 30px;
  border-color: #fff !important;
}

.sign-section .form-inner .form-group .theme-btn:before,
.sign-section .form-inner .form-group .theme-btn:after{
  background: #000;
}

.sign-section .form-inner .form-group .theme-btn span{
  background: var(--title-color);
}

.sign-section .form-inner .text{
  position: relative;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 22px;
  text-transform: capitalize;
}

.sign-section .form-inner .social-links li{
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.sign-section .form-inner .social-links li a{
  position: relative;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: var(--title-color);
  text-align: center;
  border: 1px dashed #D8D8D8;
  background: #fff;
  border-radius: 50px;
  padding: 9px 30px;
}

.sign-section .form-inner .social-links li a:hover{
  
}

.sign-section .form-inner .social-links li a img{
  position: relative;
  margin-right: 12px;
  top: -2px;
}

.sign-section .form-inner .other-option{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}

.sign-section .form-inner .other-option .check-box label{
  font-size: 16px;
}

.sign-section .form-inner .other-option .forgot-password{
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: var(--title-color);
  transition: all 500ms ease;
}

.sign-section .form-inner .other-option .forgot-password:hover{

}

.sign-section .form-inner .lower-text p{
  color: var(--title-color);
}

.sign-section .form-inner .lower-text p a{
  display: inline-block;
  font-weight: 500;
}

.sign-section .form-inner .lower-text p a:hover{
  text-decoration: underline;
}

.sign-section .form-inner .check-box label:after{
  background: none !important;
  content: '\e928';
  font-family: 'icomoon';
  font-size: 7px;
  top: 0px;
  left: 3px;
}

.sign-section .sec-title h2{
  font-size: 36px;
  line-height: 42px;
}


/** rtl-css **/

.rtl .sign-section .form-inner .social-links li a img{
  margin-right: 0px;
  margin-left: 12px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .sign-section{
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .sign-section .form-inner .other-option{
    display: block;
  }
}




















