
/** news-section **/

.news-section{
  position: relative;
}

.news-block-one .inner-box{
  position: relative;
  display: block;
  margin-bottom: 24px;
}

.news-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
}

.news-block-one .inner-box .image-box img{
  width: 100%;
}

.news-block-one .inner-box .image-box .overlay-image{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translatey(-50%) scaleY(1.5);
  opacity: 0;
  filter: blur(10px);
  transition: opacity 0.5s ease;
  transition: background-color 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.news-block-one .inner-box:hover .image-box .overlay-image{
  transform: translatey(0) scaleY(1);
  opacity: 1;
  filter: blur(0);
}

.news-block-one .inner-box .post-info{
  position: relative;
  display: flex;
  align-items: center;
  gap: 36px;
}

.news-block-one .inner-box .image-box .post-info{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 240px;
  z-index: 5;
  background: #fff;
  border-radius: 0px 10px 0px 0px;
  padding: 6px 0px;
}

.news-block-one .inner-box .post-info li{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 28px;
  color: var(--title-color);
  padding: 5px 0px;
  padding-right: 20px;
}

.news-block-one .inner-box .post-info li a{
  display: inline-block;
  color: var(--title-color);
}

.news-block-one .inner-box .post-info li a:hover{

}

.news-block-one .inner-box .post-info li:before{
  position: absolute;
  content: '';
  background: #E5E5E5;
  width: 20px;
  height: 1px;
  top: 18px;
  right: -19px;
}

.news-block-one .inner-box .post-info li:last-child:before{
  display: none;
}

.news-block-one .inner-box .lower-content{
  position: relative;
  display: block;
  padding-top: 24px;
}

.news-block-one .inner-box .lower-content h3{
  display: block;
  font-size: 24px;
  line-height: 30px;
}

.news-block-one .inner-box .lower-content h3 a{
  display: inline-block;
  color: var(--title-color);
}

.news-block-one .inner-box .lower-content h3 a:hover{

}

.news-section .shape-layer{
  position: absolute;
  left: 50%;
  margin-left: -73px;
  top: 50px;
  width: 146px;
  height: 176px;
  background-repeat: no-repeat;
  opacity: 0.40;
}


/** rtl-css **/

.rtl .news-block-one .inner-box .post-info li:before{
  right: inherit;
  left: -38px;
}


/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){

  .news-section{
    padding: 65px 0px 40px 0px;
  }
  
  .news-section.pt_0{
    padding-top: 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}











































