
/** popular-product **/

.popular-product{
  position: relative;
}

.popular-product .inner-container{
  position: relative;
  display: block;
  background: #fff;
  border: dashed;
  border-width: 1px;
  border-color: #D8D8D8;
  border-radius: 10px;
  z-index: 2;
}

.shop-block-one .inner-box{
  position: relative;
  display: block;
  padding: 30px 30px 0px 30px; 
  text-align: center;
  transition: all 500ms ease;
}

.shop-block-one .inner-box:before{
  position: absolute;
  content: '';
  border-right: dashed;
  border-width: 1px;
  border-color: #D8D8D8;
  top: 0px;
  right: -15px;
  height: 100%;
}

.shop-block-one .inner-box .image-box{
  position: relative;
  display: block;
}

.shop-block-one .inner-box .image-box .image{
  position: relative;
  display: block;
  max-width: 235px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.shop-block-one .inner-box .image-box .image img{
  width: 100%;
  transition: all 500ms ease;
}

.shop-block-one .inner-box:hover .image-box .image img{
  transform: scale(1.05);
}

.shop-block-one .inner-box .image-box .option-list{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

.shop-block-one .inner-box .image-box .option-list li{
  position: relative;
  display: block;
  margin-bottom: 10px;
  height: 40px;
  -webkit-transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),background-color 0.1s cubic-bezier(.28,.12,.22,1),color 0.1s cubic-bezier(.28,.12,.22,1),border-color 0.1s cubic-bezier(.28,.12,.22,1),-webkit-transform 0.25s cubic-bezier(.17,.62,.44,.99),-webkit-box-shadow 0.1s cubic-bezier(.28,.12,.22,1);
  transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),background-color 0.1s cubic-bezier(.28,.12,.22,1),color 0.1s cubic-bezier(.28,.12,.22,1),border-color 0.1s cubic-bezier(.28,.12,.22,1),-webkit-transform 0.25s cubic-bezier(.17,.62,.44,.99),-webkit-box-shadow 0.1s cubic-bezier(.28,.12,.22,1);
  transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),transform 0.25s cubic-bezier(.17,.62,.44,.99),background-color 0.1s cubic-bezier(.28,.12,.22,1),color 0.1s cubic-bezier(.28,.12,.22,1),border-color 0.1s cubic-bezier(.28,.12,.22,1),box-shadow 0.1s cubic-bezier(.28,.12,.22,1);
  transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),transform 0.25s cubic-bezier(.17,.62,.44,.99),background-color 0.1s cubic-bezier(.28,.12,.22,1),color 0.1s cubic-bezier(.28,.12,.22,1),border-color 0.1s cubic-bezier(.28,.12,.22,1),box-shadow 0.1s cubic-bezier(.28,.12,.22,1),-webkit-transform 0.25s cubic-bezier(.17,.62,.44,.99),-webkit-box-shadow 0.1s cubic-bezier(.28,.12,.22,1);
  opacity: 0;
  -webkit-transform: translateX(0.625rem);
  transform: translateX(0.625rem);
}

.shop-block-one .inner-box .image-box .option-list li:last-child{
  margin-bottom: 0px;
}

.shop-block-one .inner-box:hover .image-box .option-list li{
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.shop-block-one .inner-box .image-box .option-list li:first-child{
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.shop-block-one .inner-box .image-box .option-list li:nth-child(2){
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.shop-block-one .inner-box .image-box .option-list li:nth-child(3){
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.shop-block-one .inner-box .image-box .option-list li:nth-child(4){
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.shop-block-one .inner-box .image-box .option-list li a,
.shop-block-one .inner-box .image-box .option-list li button{
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  line-height: 42px;
  background: rgba(247, 97, 136, 0.20);
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  color: var(--title-color);
  cursor: pointer;
  transition: all 500ms ease;
}

.shop-block-one .inner-box .image-box .option-list li a:hover,
.shop-block-one .inner-box .image-box .option-list li button:hover,
.shop-block-one .inner-box .image-box .option-list li button:focus,
.shop-block-one .inner-box .image-box .option-list li button:active{
  color: #fff;
}

.shop-block-one .inner-box .image-box .option-list li a:hover i,
.shop-block-one .inner-box .image-box .option-list li button:hover i,
.shop-block-one .inner-box .image-box .option-list li button:focus i,
.shop-block-one .inner-box .image-box .option-list li button:active i{
  animation: toBottomFromTop .7s forwards;
}

.shop-block-one .inner-box .lower-content{
  position: relative;
  display: block;
  background: #fff;
  padding-top: 35px;
  padding-bottom: 16px;
  transition: all 500ms ease;
}

.shop-block-one .inner-box:hover .lower-content{
  padding-bottom: 90px;
  margin-top: -73px;
}

.shop-block-one .inner-box .lower-content .text{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  color: #7C7C7C;
}

.shop-block-one .inner-box .lower-content h4{
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 4px;
}

.shop-block-one .inner-box .lower-content h4 a{
  display: inline-block;
  color: var(--title-color);
}

.shop-block-one .inner-box .lower-content h4 a:hover{

}

.shop-block-one .inner-box .lower-content .price{
  position: relative;
  display: block;
  font-size: 20px;
  color: #E92530;
  font-weight: 700;
  margin-bottom: 17px;
}

.shop-block-one .inner-box .lower-content .price del{
  font-size: 16px;
  line-height: 28px;
  color: #666666;
  font-weight: 400;
  margin-right: 10px;
}

.shop-block-one .inner-box .lower-content .btn-box{
  position: absolute;
  left: 0px;
  bottom: 40px;
  width: 100%;
  opacity: 0;
  transform: scaleX(0);
  transition: all 500ms ease;
}

.shop-block-one .inner-box:hover .lower-content .btn-box{
  opacity: 1;
  transform: scaleX(1);
}

.shop-block-one .inner-box .lower-content .btn-box .theme-btn{
  width: 100%;
  padding: 8px 30px;
}

.popular-product .owl-nav{
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -24px;
  width: 100%;
}

.popular-product .owl-nav button{
  position: absolute;
  display: inline-block;
  top: 0px;
  font-size: 48px;
  color: var(--title-color);
  margin: 0px;
  cursor: pointer;
  transition: all 500ms ease;
}

.popular-product .owl-nav button.owl-prev{
  left: -40px;
}

.popular-product .owl-nav button.owl-next{
  right: -40px;
}

.popular-product .owl-nav button:hover{

}

.popular-product .pattern-layer .pattern-1{
  position: absolute;
  left: 0px;
  top: -500px;
  width: 100%;
  height: 1579px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  background-size: cover;
}

.popular-product .pattern-layer .pattern-2{
  position: absolute;
  left: 30px;
  top: -30px;
  width: 171px;
  height: 255px;
  background-repeat: no-repeat;
}


/** rtl-css **/




/** responsive-css **/

@media only screen and (max-width: 1200px){
  .popular-product .owl-nav{
    display: none;
  }
}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .popular-product{
    padding-bottom: 70px;
  }

  .popular-product.pt_120{
    padding-top: 65px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}











































