
/** shop-page **/

.shop-page-section .item-shorting{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F8EDF0;
  border-radius: 10px;
  padding: 15px 30px;
  margin-bottom: 40px;
}

.shop-page-section .item-shorting .left-column .text p{
  font-size: 14px;
  color: var(--title-color);
}

.shop-page-section .item-shorting .left-column .text p span{
  font-weight: 700;
}

.shop-page-section .item-shorting .right-column{
  position: relative;
  display: flex;
  align-items: center;
}

.shop-page-section .item-shorting .right-column p{
  font-size: 14px;
  color: #7C7C7C;
  margin-right: 10px;
}

.shop-page-section .item-shorting .right-column .short-box{
  position: relative;
  display: flex;
  align-items: center;
}

.shop-page-section .item-shorting .right-column .select-box{
  min-height: 30px;
}

.shop-page-section .item-shorting .right-column .short-box .nice-select{
  font-size: 14px;
  line-height: 30px;
  color: var(--title-color);
  text-transform: capitalize;
}

.shop-page-section .item-shorting .right-column .short-box .nice-select:before{
  color: var(--title-color);
}

.shop-page-section .item-shorting .right-column .short-box .nice-select .list{
  min-width: 120px;
}

.shop-page-section .item-shorting .right-column .menu-box{
  position: relative;
  display: flex;
  align-items: center;
}

.shop-page-section .item-shorting .right-column .menu-box button{
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 24px;
  background: #fff;
  border: 1px dashed; #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #7C7C7C;
  cursor: pointer;
  transition: all 500ms ease;
}

.shop-page-section .item-shorting .right-column .menu-box button.on{

}

.shop-page-section .item-shorting .right-column .menu-box button img{
  display: inline-block;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 500ms ease;
}

.shop-page-section .item-shorting .right-column .menu-box button.on img{
  opacity: 1;
  filter: grayscale(0%);
}

.wrapper.list .shop-list-content{
  display: block;
}

.wrapper.list .shop-grid-content{
  display: none
}

.wrapper.grid .shop-list-content{
  display: none;
}

.wrapper.grid .shop-grid-content{
  display: block
}

.shop-page-section .wrapper .inner-container .shop-block-one{
  float: left;
  width: 20%;
  margin: 0 auto;
}

.shop-page-section .shop-block-one .inner-box:before{
  display: none;
}

.shop-page-section .shop-block-one .inner-box{
  padding: 0px;
  max-width: 224px;
  margin: 0 auto;
  padding-bottom: 35px;
}

.shop-page-section .shop-block-one .inner-box .lower-content{
  padding: 0px !important;
  margin: 0px !important;
  background: transparent;
}

.shop-page-section .shop-block-one .inner-box .image-box .image{
  max-width: 180px;
}

.shop-page-section .shop-block-two .inner-box .lower-content h5{
  max-height: 24px;
}

.shop-page-section .cta-section .inner-container{
  padding-left: 540px;
}

.shop-page-section .cta-section h2{
  font-size: 40px;
  line-height: 48px;
}

.shop-block-five .inner-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border: 1px dashed #E5E5E5;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all 500ms ease;
}

.shop-block-five .inner-box .image-box{
  position: relative;
  display: block;
  width: 277px;
  min-width: 277px;
}

.shop-block-five .inner-box .image-box img{
  width: 100%;
  transition: all 500ms ease;
}

.shop-block-five .inner-box:hover .image-box img{
  transform: scale(0.9);
}

.shop-block-five .inner-box .content-box{
  position: relative;
  display: block;
  padding: 0px 50px;
}

.shop-block-five .inner-box .content-box .text{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}

.shop-block-five .inner-box .content-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 14px;
}

.shop-block-five .inner-box .content-box h3 a{
  display: inline-block;
  color: var(--title-color);
}

.shop-block-five .inner-box .content-box h3 a:hover{
  text-decoration: underline;
}

.shop-block-five .inner-box .content-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #E92530;
  margin-bottom: 23px;
}

.shop-block-five .inner-box .content-box h4 del{
  font-size: 16px;
  font-weight: 400;
  color: #7C7C7C;
  margin-right: 6px;
}

.shop-block-five .inner-box .content-box .theme-btn{
  padding: 8px 60px;
}

.shop-block-five .inner-box .feature-content{
  position: relative;
  display: block;
  border-left: 1px dashed #D9D9D9;
  padding: 30px 0px 50px 60px;
}

.shop-block-five .inner-box .feature-list li{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 28px;
  padding-left: 16px;
  color: #000;
}

.shop-block-five .inner-box .feature-list li:before{
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  left: 0px;
  top: 12px;
  border-radius: 50%;
}

.shop-sidebar .table-outer {
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.shop-sidebar .sidebar-table {
  min-width: 1585px;
  width: 100%;
}

.shop-sidebar .sidebar-table tbody{
  vertical-align: top;
}

.shop-sidebar .sidebar-table .widget-title{
  margin-bottom: 25px;
}

.shop-sidebar .sidebar-table tbody tr td{
  padding-right: 60px;
  width: 280px;
}

.shop-sidebar .sidebar-table tbody tr td:last-child{
  padding: 0px;
}

.shop-sidebar .sidebar-table tbody tr .filter-widget{
  width: 220px;
}

.shop-sidebar.style-two .category-list li label{
  display: block;
}

.shop-sidebar.style-two .category-list li{
  position: relative;
}

.shop-sidebar .category-list li span{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: var(--title-color);
}

.shop-sidebar .category-list li .check-box input:checked + label span{

}

.shop-page-section .item-shorting .left-column{
  position: relative;
  display: flex;
  align-items: center;
}

.shop-page-section .item-shorting .left-column .filter-button button{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  padding: 8px 20px;
  width: 180px;
  border-radius: 6px;
  text-align: left;
}

.shop-page-section .item-shorting .left-column .filter-button button i{
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 7px;
}

.shop-page-section .our-shop.fluid .wrapper .inner-container .shop-block-one{
  width: 16.666%;
}


/** shop-banner **/

.shop-banner{
  position: relative;
}

.shop-banner .inner-container{
  position: relative;
  padding: 80px 30px;
  border-radius: 10px;
  overflow: hidden;
}

.shop-banner .inner-container .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shop-banner .content-box{
  position: relative;
  display: block;
}

.shop-banner .content-box .icon-box{
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.shop-banner .content-box h2{
  display: block;
  font-size: 72px;
  line-height: 72px;
  color: #fff;
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
}

.shop-banner .content-box h2 span{
  position: relative;
  display: block;
  font-weight: 400;
}

.shop-banner .content-box h3{
  display: block;
  font-size: 28px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 35px;
}

.shop-banner .content-box .theme-btn{
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
}

/** rtl-css **/

.rtl .shop-page-section .item-shorting .right-column .menu-box button.mr_10{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .shop-page-section .item-shorting .right-column p{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .shop-block-five .inner-box .feature-content{
  padding-left: 0px;
  padding-right: 60px;
  border-left: none;
  border-right: 1px solid #D9D9D9;
}

.rtl .shop-block-five .inner-box .feature-list li{
  padding-left: 0px;
  padding-right: 16px;
}

.rtl .shop-block-five .inner-box .feature-list li:before{
  left: inherit;
  right: 0px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){
  .shop-page-section .wrapper .inner-container .shop-block-one{
    width: 33.333%;
  }

  .shop-page-section .cta-section .inner-container{
    padding-left: 30px;
  }

  .shop-page-section .our-shop.fluid .wrapper .inner-container .shop-block-one{
    width: 33.333%;
  }
}

@media only screen and (max-width: 991px){
 .shop-page-section .wrapper .inner-container .shop-block-one{
  width: 50%;
 }

 .shop-page-section .our-shop.fluid .wrapper .inner-container .shop-block-one{
  width: 50%;
 }
}

@media only screen and (max-width: 767px){
  .shop-block-five .inner-box{
    display: block;
  }

  .shop-page-section .wrapper .inner-container .shop-block-one{
    width: 100%;
  }

  .shop-block-five .inner-box .feature-content{
    padding: 0px;
    border: none;
    margin-top: 30px;
  }

  .shop-sidebar{
    margin-bottom: 40px;
  }

  .rtl .shop-block-five .inner-box .feature-content{
    padding-right: 0px;
    border: none;
  }

  .shop-block-five .inner-box .content-box{
    padding-left: 0px;
    padding-right: 0px;
  }

  .shop-banner .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .shop-page-section .our-shop.fluid .wrapper .inner-container .shop-block-one{
    width: 100%;
  }
}

@media only screen and (max-width: 599px){
  .shop-page-section .item-shorting{
    display: block;
    text-align: center;
  }

  .shop-page-section .item-shorting .right-column{
    justify-content: center;
  }
}

@media only screen and (max-width: 499px){
  .shop-block-five .inner-box .image-box{
    width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
  }

  .shop-block-five .inner-box .content-box .theme-btn{
    padding-left: 30px;
    padding-right: 30px;
  }

  .shop-block-five .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .shop-page-section .item-shorting .right-column .short-box{
    margin-right: 15px;
  }

  .rtl .shop-page-section .item-shorting .right-column .short-box{
    margin-left: 15px;
    margin-right: 0px;
  }

}











































