
/** subscribe-section **/

.subscribe-section{
  position: relative;
}

.subscribe-section .bg-color{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background: #20191B;
}

.subscribe-section .inner-container{
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 80px;
}

.subscribe-section .inner-container:before{
  position: absolute;
  content: '';
  border: dashed;
  border-width: 1px;
  border-color: #fff;
  border-radius: 8px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  left: 10px;
  top: 10px;
}

.subscribe-section h2{
  display: block;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  font-weight: 700;
}

.subscribe-section .form-inner .form-group{
  position: relative;
  margin-bottom: 0px;
}

.subscribe-section .form-inner .form-group input[type='email']{
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  border: dashed;
  border-width: 2px;
  font-size: 16px;
  color: rgba(17, 17, 17, 0.70);
  padding: 10px 80px 10px 30px;
}

.subscribe-section .form-inner .form-group button[type='submit']{
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}


/** rtl-css **/

.rtl .subscribe-section .form-inner{
  margin-left: 0px;
  margin-right: 130px;
}


/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .subscribe-section .form-inner{
    margin-left: 0px;
    margin-top: 30px;
  }

  .rtl .subscribe-section .form-inner{
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px){
  .subscribe-section .inner-container{
    padding-left: 60px;
    padding-right: 60px;
  }

  .subscribe-section h2{
    font-size: 36px;
    line-height: 44px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .subscribe-section .inner-container{
    padding-left: 30px;
    padding-right: 30px;
  }
}











































